<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/assets/css/trilogy-hub/trilogy-hub.css" />
</head>

<body>

  <% include ../partials/nav.ejs %>
<div class="trihub">
  <div class="container">

    <span class="trihub__line-left"></span>
    <span class="trihub__line-mid"></span>
    <span class="trihub__line-right"></span>

    <div class="trihub__slider">
      <img class="trihub__slider--img img-responsive " src="/assets/img/trilogy-hub/hero.png">
      <img class="trihub__slider--arrow-bottom" src="/assets/img/trilogy-hub/arrow-down.svg">

      <div class="trihub__slider--content--bg">
      </div>
      <div class="trihub__slider--content">
        <p class="trihub__slider--content--category">LOREM IPSUM</p>
        <h1>How to buy sustainable beauty products</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, Proin luctus eget nisi id sollicitudin.</p>
        <div class="trihub__slider--btn">
          <a class="trihub__btn" href="#">
            READ MORE
            <img class="img-responsive trihub__btn-arrow" src="/assets/img/trilogy-hub/arrow-right.svg">
          </a>
        </div>
      </div>
    </div>
    <!-- end trihub__slider -->


    <p class="trihub__recent">RECENT</p>


    <div class="trihub__items">

      <div class="trihub__item trihub__item--default">
        <div class="trihub__item--img">
          <img class="img-responsive" src="/assets/img/trilogy-hub/item-01.jpg">
          <span class="trihub__item--category">LOREM IPSUM</span>
        </div>
        <div class="trihub__item--content">
          <h3>Why coffee is your answer to cellulite woes.</h3>
          <p>1 HOUR AGO</p>
        </div>
      </div>
      <!-- end item -->

      <div class="trihub__item trihub__item--default">
        <div class="trihub__item--img">
          <img class="img-responsive" src="/assets/img/trilogy-hub/item-02.jpg">
          <span class="trihub__item--category">LOREM IPSUM</span>
        </div>
        <div class="trihub__item--content">
          <h3>Why coffee is your answer to cellulite woes.</h3>
          <p>1 HOUR AGO</p>
        </div>
      </div>
      <!-- end item -->

      <div class="trihub__item trihub__item--product">
        <div class="trihub__item--content">
          <span class="trihub__item--category">LOREM IPSUM</span>
          <h3>Why coffee is your answer to cellulite woes.</h3>
        </div>
        <img class="img-responsive" src="/assets/img/trilogy-hub/product-01.png">
      </div>
      <!-- end item -->





      <div class="trihub__item trihub__item--default">
        <div class="trihub__item--img">
          <img class="img-responsive" src="/assets/img/trilogy-hub/item-01.jpg">
          <span class="trihub__item--category">LOREM IPSUM</span>
        </div>
        <div class="trihub__item--content">
          <h3>Why coffee is your answer to cellulite woes.</h3>
          <p>1 HOUR AGO</p>
        </div>
      </div>
      <!-- end item -->

      <div class="trihub__item trihub__item--default">
        <div class="trihub__item--img">
          <img class="img-responsive" src="/assets/img/trilogy-hub/item-02.jpg">
          <span class="trihub__item--category">LOREM IPSUM</span>
        </div>
        <div class="trihub__item--content">
          <h3>Why coffee is your answer to cellulite woes.</h3>
          <p>1 HOUR AGO</p>
        </div>
      </div>
      <!-- end item -->

      <div class="trihub__item trihub__item--product">
        <div class="trihub__item--content">
          <span class="trihub__item--category">LOREM IPSUM</span>
          <h3>Why coffee is your answer to cellulite woes.</h3>
        </div>
        <img class="img-responsive" src="/assets/img/trilogy-hub/product-01.png">
      </div>
      <!-- end item -->



  </div>
</div>
<!-- end container -->


</body>
</html>
